/* 전체 페이지를 중앙 정렬 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* 원 스타일 설정 */
#circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red; /* 처음에는 빨간색 빨간색 생각하니까 보고싶은이가생기는걸보러가야겠다 */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}
